@import "../../color.scss";

#todolist {
  width: 100%;
  padding: 25px 0;
  background-color: $blue;
  text-align: center;
  cursor: default;
  h1 {
    margin: 0;
    > a {
      &:hover {
        color: currentColor !important;
      }
    }
  }
  > div {
    width: 60%;
    min-width: 320px;
    margin: 0 auto;
    background-color: white;
  }
}

#todolist__txt {
  padding: 5px 0;
  ul {
    padding: 0;
    list-style-type: none;
    > li {
      display: inline-block;
      width: calc(100% / 4);
      > div > div {
        display: inline-block;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
