@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css);
@import url(https://cdn.jsdelivr.net/font-nanumlight/1.0/nanumbarungothicweb.css);
@import "./color.scss";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $back;
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}
a {
  text-decoration: none;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color: $pink;
  }
}
.box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.inline-block {
  display: inline-block;
}
.shadow {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}
button {
  width: 44px;
  height: 44px;
  margin-right: 15px;
  margin-bottom: 25px;
  border: 0;
  background-color: $pink;
  box-shadow: 0px 5px 0px 0px rgb(244, 216, 196);
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.8;
  }
}
.content-list {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  > div {
    display: inline-block;
    cursor: pointer;
    &:first-child {
      width: 5%;
    }
    &:nth-child(2) {
      width: 75%;
      text-align: left;
    }
    &:last-child {
      width: 20%;
    }
  }
  &:hover {
    background-color: $green;
    color: white;
  }
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
